<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>float+margin</title>
    <style>
        .sub {
            width: 100px;
            float: left;
            background-color: aqua;
        }
        .extra {
            width: 200px;
            float: right;
            background-color: burlywood;
        }
        .main {
            margin-left: 100px; 
            margin-right: 200px;
            background-color: blue;
        }
    </style>
</head>
<body>
    <div id="content">
        <div class="sub">sub</div>
        <div class="extra">extra</div>
        <div class="main">main</div>
    </div> 
</body>
</html>